/* 通用樣式 */
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.col-1{
    padding:0 12px;
    width: calc(100% / 12);
}
.col-2{
    padding:0 12px;
    width: calc(100% / 12 * 2);
}
.col-3{
    padding:0 12px;
    width: calc(100% / 12 * 3);
}
.col-4{
    padding:0 12px;
    width: calc(100% / 12 * 4);
}
.col-5{
    padding:0 12px;
    width: calc(100% / 12 * 5);
}.col-6{
    padding:0 12px;
    width: calc(100% / 12 * 6);
}.col-7{
    padding:0 12px;
    width: calc(100% / 12 * 7);
}
.col-8{
    padding:0 12px;
    width: calc(100% / 12 * 8);
}
.col-9{
    padding:0 12px;
    width: calc(100% / 12 * 9);
}
.col-10{
    padding:0 12px;
    width: calc(100% / 12 * 10);
}
.col-11{
    padding:0 12px;
    width: calc(100% / 12 * 11);
}
.col-12{
    width: 100%;
    padding:0 12px;
}
@media(max-width:767px){
    .row{
        margin-right: -6px;
        margin-left: -6px;
    }
        .col-md-1{
        padding-right: 6px;
        padding-left: 6px;
        width: calc(100% / 4);
    }
        .col-md-2{
        padding-right: 6px;
        padding-left: 6px;
        width: calc(100% / 4 * 2);
    }
        .col-md-3{
        padding-right: 6px;
        padding-left: 6px;
        width: calc(100% / 4 * 3);
    }
        .col-md-4{
        padding-right: 6px;
        padding-left: 6px;
        width: 100%;
    }
    .flex-md-column{
        flex-direction: column;
    }
    .flex-md-nowrap{
        flex-wrap: nowrap;
    }
    .gap-md-4{
        gap: 4px;
    }
    .gap-md-8{
        gap: 8px;
    }
}
@media(max-width:767px){
    .overflow-x-md-auto{
        overflow-x: auto;
    }
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
@media(max-width:767px){
    .d-md-block{
        display: block;
    }
    .d-md-flex{
        display: flex;
    }
    .d-md-none{
        display: none;
    }
}
@media(max-width:576px){
    .d-sm-block{
        display: block;
    }
    .d-sm-none{
        display: none;
    }
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.gap-8{
    gap: 8px;
}
.display-2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}
.h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}
.h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}
.h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}
.h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.h6{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

@media(max-width:767px){
    .h1-md{
        font-size: 40px;
    }
    .h2-md{
        font-size: 32px;
    }
    .h3-md{
        font-size: 28px;
    }
    .h4-md{
        font-size: 24px;
    }
    .h5-md{
        font-size: 20px;
    }
    .h6-md{
        font-size: 16px;
    }
}

@media(max-width:576px){
    .h3-sm{
        font-size: 28px;
    }
    .h4-sm{
        font-size: 24px;
    }
    .h5-sm{
        font-size: 20px;
    }
    .h6-sm{
        font-size: 16px;
    }
}
.text-lg{
    font-size: 20px;
}
.text-sm{
    font-size: 14px;
}
@media(max-width:767px){
    .text-md-md{
        font-size: 16px;
    }
}
.text-white{
  color: $neutral-0;
}
.text-neutral-500{
    color: $neutral-500;
}
.text-neutral-600{
  color: $neutral-600;
}
.text-primary-400{
    color: $primary-400;
}
.text-primary-300{
    color: $primary-300;
}
.text-danger{
    color: $danger-300;
}
.bg-primary-100{
  background-color: $primary-100;
}
.bg-primary-200{
    background-color: $primary-200;
}
.bg-neutral-100{
    bottom: $neutral-100;
}
.p-12{
    padding: 12px;
}
.p-32{
    padding: 32px;
}
.px-24{
    padding-right: 24px;
    padding-left: 24px;
}
.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-24{
    padding-top: 24px;
    padding-bottom: 24px;
}
.py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}
.py-48{
    padding-top: 48px;
    padding-bottom: 48px;
}
.py-64{
    padding-top: 64px;
    padding-bottom: 64px;
}
.pb-48{
    padding-bottom: 48px;
}

@media(max-width:767px){
    .p-md-24{
        padding: 24px;
    }
    .px-md-32{
        padding-right: 32px;
        padding-left: 32px;
    }
    .py-md-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .py-md-16{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .py-md-24{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .py-md-32{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .py-md-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pb-md-32{
        padding-bottom: 32px;
    }
}

@media(max-width:576px){
    .px-sm-12{
        padding-right: 12px;
        padding-left: 12px;
    }
    .py-sm-12{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py-sm-32{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.pe-8{
    padding-right: 8px;
}
.me-8{
    margin-right: 8px;
}
.me-12{
    margin-right: 12px;
}
.me-24{
    margin-right: 24px;
}
.me-40{
    margin-right: 40px;
}
.me-48{
    margin-right: 48px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-48{
    margin-bottom: 48px;
}

@media(max-width:767px){
    .me-md-8{
        margin-right: 8px;
    }
    .mb-md-0{
        margin-bottom: 0;
    }
        .mb-md-4{
        margin-bottom: 4px;
    }
        .mb-md-8{
        margin-bottom: 8px;
    }
        .mb-md-12{
        margin-bottom: 12px;
    }
        .mb-md-16{
        margin-bottom: 16px;
    }
        .mb-md-24{
        margin-bottom: 24px;
    }
        .mb-md-32{
        margin-bottom: 32px;
    }
}

@media(max-width:576px){
    .me-sm-0{
        margin-right: 0;
    }
    .me-sm-16{
        margin-right: 16px;
    }
    .mb-sm-4{
        margin-bottom: 4px;
    }
    .mb-sm-8{
        margin-bottom: 8px;
    }
}

.bi{
    vertical-align: bottom;
}
.footer-text{
    padding-top: 32px;
    text-align: center;
    border-top: 1px solid $neutral-300;
    font-weight: 400;
    font-size: 14px;
    color:  $neutral-600;
}